<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
            <li>
                <a href="/admin" {% if REQUEST_PATH == "/admin" %}class="active" {% endif %}>
                    <i class="fa fa-dashboard fa-fw"></i> Основное
                </a>
            </li>
            <li>
                <a href="/admin/guestbook" {% if REQUEST_PATH == "/admin/guestbook" %}class="active" {% endif %}>
                    <i class="fa fa-globe fa-fw"></i> Управление гостевой книгой
                </a>
            </li>
            <li>
                <a href="/admin/hosts" {% if REQUEST_PATH == "/admin/hosts" %}class="active" {% endif %}>
                    <i class="fa fa-globe fa-fw"></i> Управление хостами
                </a>
            </li>
            <li>
                <a href="/admin/users" {% if REQUEST_PATH == "/admin/users" %}class="active" {% endif %}>
                    <i class="fa fa-users fa-fw"></i> Пользователи
                </a>
            </li>
        </ul>
    </div>
</div>