<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Guest book service</title>

        <link href="{{ STATIC }}/vendors/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="{{ STATIC }}/vendors/sb-admin-2.css" rel="stylesheet">
        <link href="{{ STATIC }}/vendors/font-awesome-4.2.0/css/font-awesome.min.css" rel="stylesheet">
        <link href="{{ STATIC }}/vendors/bootstrap-table-1.2.3/src/bootstrap-table.css" rel="stylesheet">
        <link href="{{ STATIC }}/vendors/bootstrap-multiselect/css/bootstrap-multiselect.css" rel="stylesheet">
        <link href="{{ STATIC }}/vendors/alertify.js/themes/alertify.core.css" rel="stylesheet">
        <link href="{{ STATIC }}/vendors/alertify.js/themes/alertify.bootstrap.css" rel="stylesheet">
        <link href="{{ STATIC }}/vendors/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet">


        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>

    <body>
        <div id="wrapper">
            <!-- Navigation -->
            <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">Guest book</a>
                </div>


                {% if session.is_admin and REQUEST_PATH.startswith("/admin") %}
                    {% include "views/layout/user_menu_top.html" %}
                    {% include "views/layout/admin_menu_left.html" %}
                {% elif session.id_user %}
                    {% include "views/layout/user_menu_top.html" %}
                    {% include "views/layout/user_menu_left.html" %}
                {% else %}
                    {% include "views/layout/guest_menu_top.html" %}
                    {% include "views/layout/guest_menu_left.html" %}
                {% endif %}
            </nav>