{% import "layout/wtforms_macros.html" as wtforms %}

{% include "layout/header.html" %}


    <div id="page-wrapper">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="page-header">
                    Забаненные хосты
                </h1>
            </div>
        </div>
        {% include "layout/flashes.html" %}
        <div class="row">
            <div class="col-xs-3">
                <form class="form-horizontal" {% if REQUEST_PATH == '/admin/hosts' %}
                    action="/admin/hosts"
                {% else %}
                    action="/admin/hosts-{{paginator.curr_page}}"
                {% endif %} method="POST">
                    {{ wtforms.form_field(form.host, with_label=True, placeholder="Например, 8.12.243.12 или ya.ru") }}
                    <div class="row">
                        <br />
                        <div class="col-xs-4">
                            <input class="btn btn-success" type="submit" value="Бан">
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <table id="admin_hosts_table"
                   class="table table-condensed table-striped table-hover"
                   data-search="true"
                   data-toolbar="#custom-toolbar">
                <thead>
                    <tr>
                        <th data-field="id_surr">#</th>
                        <th data-field="id">Raw ID</th>
                        <th data-field="name" data-align="left">Хост</th>
                        <th data-field="data" data-align="left">Время блокировки</th>
                        <th data-field="action" data-align="left">Действия</th>
                    </tr>
                </thead>
                <tbody>
                    {% for index, host in enumerated_hosts %}
                        <tr>
                            <td>
                                {{- index -}}
                            </td>
                            <td>
                                {{ host.id }}
                            </td>
                            <td>
                                {{ host.host }}
                            </td>
                            <td>
                                {{ host.timebanned }}
                            </td>
                            <td>
                                <a class='host-delete btn btn-danger btn-sm dis-btn' url="/admin/hosts/{{ host.id }}" data-toggle="tooltip" title="Удалить"><i class='fa fa-fw fa-trash-o'></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% include "layout/pagination.html" %}
        </div>
        <p>&nbsp;</p>
    </div>

{% include "layout/footer.html" %}