{% import "layout/wtforms_macros.html" as wtforms %}

{% include "layout/header.html" %}


    <div id="page-wrapper">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="page-header">
                    Отзывы
                </h1>
            </div>
        </div>
        {% include "layout/flashes.html" %}
        <div class="row">
            <table id="admin_stores_table"
                   class="table table-condensed table-striped table-hover"
                   data-search="true"
                   data-toolbar="#custom-toolbar">
                <thead>
                    <tr>
                        <th data-field="id_surr">#</th>
                        <th data-field="id">Raw ID</th>
                        <th data-field="name" data-align="left">Имя</th>
                        <th data-field="email" data-align="left">Email</th>
                        <th data-field="data" data-align="left">Отзыв</th>
                        <th data-field="status" data-align="left">Статус</th>
                        <th data-field="action" data-align="left">Действия</th>
                    </tr>
                </thead>
                <tbody>
                    {% for index, store in enumerated_stores %}
                        <tr>
                            <td>
                                {{- index -}}
                            </td>
                            <td>
                                <a href="/admin/guestbook/store/{{ store.id }}">{{ store.id }}</a>
                            </td>
                            <td>
                                {{ store.author }}
                            </td>
                            <td>
                                {{ store.user.email }}
                            </td>
                            <td>
                                {{ store.store }}
                            </td>
                            <td>
                                {{ store.status }}
                            </td>
                            <td>
                                {% for action in store.actions %}
                                    {% if action == "delete"%}
                                        <a class='store-delete btn btn-danger btn-sm dis-btn' url="/admin/guestbook/store/{{ store.id }}" data-toggle="tooltip" title="Удалить"><i class='fa fa-fw fa-trash-o'></i></a>
                                    {% elif action == "activate"%}
                                        <a class='store-update btn btn-success btn-sm dis-btn' action="activate" url="/admin/guestbook/store/{{ store.id }}" data-toggle="tooltip" title="Активировать"><i class='fa fa-fw fa-check'></i></a>
                                    {% elif action == "block"%}
                                        <a class='store-update btn btn-warning btn-sm dis-btn' action="block" url="/admin/guestbook/store/{{ store.id }}" data-toggle="tooltip" title="Заблокировать"><i class='fa fa-fw fa-lock'></i></a>
                                    {% elif action == "unblock"%}
                                        <a class='store-update btn btn-success btn-sm dis-btn' action="unblock" url="/admin/guestbook/store/{{ store.id }}" data-toggle="tooltip" title="Разблокировать"><i class='fa fa-fw fa-unlock'></i></a>
                                    {% elif action == "recover"%}
                                        <a class='store-update btn btn-success btn-sm dis-btn' action="recover" url="/admin/guestbook/store/{{ store.id }}" data-toggle="tooltip" title="Восстановить"><i class='fa fa-fw fa-refresh'></i></a>
                                    {% endif %}
                                {% endfor %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% include "layout/pagination.html" %}
        </div>
        <p>&nbsp;</p>
    </div>

{% include "layout/footer.html" %}