{% import "layout/wtforms_macros.html" as wtforms %}

{% include "layout/header.html" %}
    <div id="page-wrapper">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="page-header">Добавить запись</h1>
            </div>
        </div>
        {% include "layout/flashes.html" %}
        <div class="row">
            <div class="col-xs-12">
                <form class="form-horizontal" {% if REQUEST_PATH == '/guestbook' %}
                    action="/guestbook"
                {% else %}
                    action="/guestbook-{{paginator.curr_page}}"
                {% endif %} method="POST">
                    {% if not session.data.get('email') %}
                        {{ wtforms.form_field(form.name, with_label=True, placeholder="Например, Ivan") }}
                    {% else %}
                        <input type="hidden" name="name" value="">
                    {% endif %}
                    {{ wtforms.form_field(form.store, with_label=True, placeholder="Например, ваш сервис мне очень помог, спасибо!") }}

                    <div class="row">
                        <br />
                        <div class="col-xs-4">
                            <input class="btn btn-success" type="submit" value="Отправить">
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <h1 class="page-header">Записи в гостевой книге</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                {% if stores %}
                    <ul>
                    {% for store in stores %}
                        <li>{{ store.author }} <a href="/guestbook/store/{{ store.id }}">отозвался</a> следующим образом: <blockquote>{{ store.store }}</blockquote></li>
                    {% endfor %}
                    </ul>
                    {% include "layout/pagination.html" %}
                {% else %}
                 <p>Пока ещё никто не оставлял своих отзывов.</p>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="row">

            </div>
        </div>
    </div>
{% include "layout/footer.html" %}
