{% import "layout/wtforms_macros.html" as wtforms %}

{% include "layout/header.html" %}
    <div id="page-wrapper">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="page-header">
                    Запись #{{ store.id }} от {{ store.timecreated }},
                    статус: {{ store.status }}
                </h1>
            </div>
        </div>
        {% include "layout/flashes.html" %}

        <div class="row">
            <div class="col-xs-12">
                {{ store.author }} написал:
                <blockquote>{{ store.store }}</blockquote>
                {% if store.timeactivated and store.timeactivated != '-' %}
                    <p>Запись промодерирована: {{ store.timeactivated }}</p>
                {% elif store.reason %}
                    <p>Идентификатор причины блокировки: {{ store.reason }}</p>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="row">

            </div>
        </div>
    </div>
{% include "layout/footer.html" %}
